# Data Pipeline

## Imports

In [150]:
import pandas as pd
import numpy as np

In [12]:
tes = pd.read_excel('./data/TES/11657.xlsx', header=[18])

In [17]:
tes["Donor"] = pd.read_excel("./data/TES/11657.xlsx", usecols="B", header=None, names=["Donor"]).iloc[2]["Donor"]

In [18]:
tes.head()

,Book No.,Manufacturer,Model,Processor,Screen size,Memory,FDD,HDD,CDROM,Serial number,Asset Tag,Stock Type,Weight (KG),Condition Code,Stock Comments,Disk Status,Parent ID of HDD (XH),Processing Fee,Donor
0,860051631-1,HP,2560P,i7-2640M 2.8,12.5,4096,-,500,NONE,CNU15009Q7,JIA-NB-S001,LT,2.0,A2G,-,WIPE,-,8.0,Donor 1
1,860051631-2,HP,2540P,i7 L640 2.13,12.1,6144,-,160,NONE,CND129BCZD,JIA-NB-A009,LT,1.8,A2G,-,WIPE,-,8.0,Donor 1
2,860051631-3,HP,2560P,i5-2520M 2.5,12.5,4096,-,500,NONE,CNU1353GLZ,SUC-NB-S006,LT,2.0,A2G,-,WIPE,-,8.0,Donor 1
3,860051631-4,HP,2540P,i7 L640 2.13,12.1,6144,-,250,NONE,CND1140HBT,JIA-NB-A001,LT,1.8,A2G,-,WIPE,-,8.0,Donor 1
4,860051631-5,HP,820 G1,i5,12.5,-,-,-,NONE,5CG5133RF3,JIA-NB-S008,LT,1.2,F2L,MISSING POWER SUPPLY,-,-,8.0,Donor 1

In [29]:
lb = pd.read_excel("./data/CTG Circular/LB2200031_CTG - DONOR 4_status.xls")

In [30]:
lb["Donor"] = pd.read_excel("./data/CTG Circular/LB2200031_CTG - DONOR 4_status.xls", usecols="F", header=None, names=["Donor"]).iloc[0]["Donor"]

In [40]:
ctg = pd.read_excel("./data/PlanBit/CTG - 0659 DONOR 8 ENGINERING REPORT.xlsx")

In [61]:
donor_name = "./data/PlanBit/CTG - 0659 DONOR 8 ENGINERING REPORT.xlsx".split(" ")

In [54]:
donor_name

['./data/PlanBit/CTG', '-', '0659', 'DONOR', '8', 'ENGINERING', 'REPORT.xlsx']

In [55]:
del(donor_name[0:3], donor_name[-2:])

In [56]:
donor_name

['DONOR', '8']

In [214]:
new = lb["Specifications"].str.split(",", expand=True)

In [215]:
lb["RAM"] = new[1]

In [264]:
new = lb["Specifications"].str.split(",")[0][:2]
lb["Processor"] = str(new[0]) + "," + str(new[1])

lb["RAM"] = lb["Specifications"].str.split(",", expand=True)[2]
lb["HDD"] = lb["Specifications"].str.split(",", expand=True)[3]

In [265]:
lb["Processor"]

0      CORE i5, 2.30GHZ
1      CORE i5, 2.30GHZ
2      CORE i5, 2.30GHZ
3      CORE i5, 2.30GHZ
4      CORE i5, 2.30GHZ
             ...
514    CORE i5, 2.30GHZ
515    CORE i5, 2.30GHZ
516    CORE i5, 2.30GHZ
517    CORE i5, 2.30GHZ
518    CORE i5, 2.30GHZ
Name: Processor, Length: 519, dtype: object

In [244]:
lb["Processor"]

0      0,
1      0,
2      0,
3      0,
4      0,
      ...
514    0,
515    0,
516    0,
517    0,
518    0,
Name: Processor, Length: 519, dtype: object

In [3]:
pb = pd.read_excel("./data/PlanBit/CTG - 0616 DONOR 11 ENGINERING REPORT.xlsx")

In [31]:
ts = pd.read_excel("./data/TES/11657.xlsx", skiprows=18)

In [45]:
ctg = pd.read_excel("./data/CTG_Metabolic_ImpactCalculator_4 years use_4 years reuse.xlsx", engine='openpyxl')

In [57]:
a = lb.columns.values.tolist()

In [59]:
b = pb.columns.values.tolist()

In [60]:
c = ts.columns.values.tolist()

In [49]:
ctg.head(50)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,CIRCULAR ELECTRONICS ENVIRONMENTAL IMPACT CALC...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,VERSION 1: LIFE EXTENSION,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,These calculations are based on average impact...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,INSTRUCTIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,STEP 1,"In column B of the Input Table, type the numbe...",NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,STEP 2,"In column C of the Input Table, type the refer...",NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,STEP 3,"In column D of the Input Table, type the exten...",NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,STEP 4,The Output Table will populate with relative i...,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NOTE,Orange cells are the key inputs for the calcul...,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,LINK,If this spreadsheet doesn't operate as expecte...,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,INPUT TABLE,NaN,NaN,NaN,NaN,Number of assets recovered by CTG,NaN,NaN
17,NaN,Asset type,Number of assets,Reference asset lifetime (years),Lifetime extension (years),NaN,2020,2018.0,2017.0
18,NaN,Laptop,NaN,4,4,NaN,25782,24951.0,29169.0
19,NaN,Desktop,NaN,4,4,NaN,23386,29154.0,24780.0
20,NaN,Monitor,NaN,4,4,NaN,15649,35916.0,29951.0
21,NaN,Other,NaN,4,4,NaN,27738,21196.0,28153.0
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,OUTPUT TABLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,Impact category,Reference impact,Relative reduction,Units,NaN,NaN,NaN,NaN
25,NaN,Conflict minerals,0,0,tonnes,NaN,NaN,NaN,NaN
26,NaN,Electronic components,0,0,tonnes,NaN,NaN,NaN,NaN
27,NaN,Global warming potential,0,0,tonnes CO2 equivalent,NaN,NaN,NaN,NaN
28,NaN,Toxic materials,0,0,"tonnes 2,4DC equivalent",NaN,NaN,NaN,NaN
29,NaN,Land use,0,0,hectares,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,PER DEVICE IMPACT REDUCTION,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,Impact category,Laptop,Desktop,Monitor,Other,Units,NaN,NaN
33,NaN,Conflict minerals,49.09562,17.4156,9.35479,25.28867,grams,NaN,NaN
34,NaN,Electronic components,1.930162,13.237774,1.244765,3.35149,kilograms,NaN,NaN
35,NaN,Global warming potential,160,400,350,450,kilograms CO2 equivalent,NaN,NaN
36,NaN,Toxic materials,33.921868,19.903035,18.758799,1053.295856,"grams 2,4DC equivalent",NaN,NaN
37,NaN,Land use,10.419297,5.599258,10.639266,8.577784,m2a,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,Amount of cars off the road per ton CO2,NaN,0.214286,NaN,NaN,NaN,NaN,NaN
41,NaN,Amount of cars off the road for donor,NaN,0,NaN,NaN,NaN,NaN,NaN

In [61]:
all_cols = a + b + c

In [62]:
print(all_cols)

['Load no.', 'Tracking reference', 'Serial no.', 'Asset Tag', 'Qty', 'Product', 'Brand', 'Model', 'Specifications', 'Defects', 'Grade', 'Quantity', 'PATNumber', 'Product Type', 'Brand', 'Model', 'Serialnumber asset', 'Client Asset Tag', 'Processor', 'Memory', 'Drive Size', 'Drive Serial', 'Erasure Status', 'DISPLAY TYPES', 'DISPLAY SIZES', 'KEYBOARD', 'Battery Test', 'GRADE-IN', 'Defect 1', 'Defect 2', 'Defect 3', 'Defect 4', 'Defect 5', 'Weight', 'Book No.', 'Manufacturer', 'Model', 'Processor', 'Screen size', 'Memory', 'FDD', 'HDD', 'CDROM', 'Serial number', 'Asset Tag', 'Stock Type', 'Weight (KG)', 'Condition Code', 'Stock Comments', 'Disk Status', 'Parent ID of HDD (XH)', 'Processing Fee']

In [63]:
all_cols = set(all_cols)

In [66]:
print(all_cols)
print("Number of unique columns:", len(all_cols))

{'Weight (KG)', 'Memory', 'Serialnumber asset', 'Parent ID of HDD (XH)', 'KEYBOARD', 'FDD', 'Quantity', 'Processing Fee', 'Drive Serial', 'CDROM', 'Manufacturer', 'PATNumber', 'Asset Tag', 'Client Asset Tag', 'Serial number', 'Defect 4', 'Disk Status', 'Grade', 'Book No.', 'Defect 2', 'Tracking reference', 'Drive Size', 'Defects', 'Stock Comments', 'Weight', 'Defect 1', 'Product', 'Screen size', 'Model', 'GRADE-IN', 'Load no.', 'Serial no.', 'Erasure Status', 'DISPLAY SIZES', 'Stock Type', 'Qty', 'Specifications', 'DISPLAY TYPES', 'Defect 3', 'Processor', 'Product Type', 'HDD', 'Battery Test', 'Defect 5', 'Brand', 'Condition Code'}
Number of unique columns: 46

In [132]:
devices = pd.DataFrame({"Quantity", "Reference", "Serial Number", "Asset Tag", "Type", "Brand", "Model", "Processor", "RAM", "HDD", "Display", "Weight", "Defects", "Grade", "Disk Status"})

In [137]:
devices

Empty DataFrame
Columns: [Disk Status, Processor, Serial Number, Reference, HDD, Type, Quantity, Model, RAM, Grade, Display, Defects, Brand, Asset Tag, Weight]
Index: []

In [138]:
new_index = ["Quantity", "Reference", "Serial Number", "Asset Tag", "Type", "Brand", "Model", "Processor", "RAM", "HDD", "Display", "Weight", "Defects", "Grade", "Disk Status"]

In [139]:
devices.reindex(columns=new_index)

Empty DataFrame
Columns: [Quantity, Reference, Serial Number, Asset Tag, Type, Brand, Model, Processor, RAM, HDD, Display, Weight, Defects, Grade, Disk Status]
Index: []

In [79]:
def df_formating(path, donor=None):
    
    index = {"Quantity": ["Qty", "Quantity"], 
             "Reference": ["Book No.", "PATNumber", "Reference"], 
             "Serial Number": ["Serial no.", "Serial number", "Serialnumber asset"], 
             "Asset Tag": ["Asset Tag", "Client Asset Tag"], 
             "Type": ["Product type", "Product"], 
             "Brand": ["Brand", "Manufacturer"], 
             "Model": ["Model"], 
             "Processor": ["Processor"], 
             "RAM": ["Memory", "RAM"], 
             "HDD": ["Drive Size", "HDD"], 
             "Display": ["DISPLAY SIZES", "Screen size"], 
             "Weight": ["Weight (KG)", "Weight"], 
             "Grade": ["Grade", "Condition Code", "GRADE-IN"], 
             "Defects": ["Defects", "Stock Comments"],
             "Disk Status": ["Disk Status", "Erasure Status"],
             "Donor": ["Donor"]
            }
    
    excel_file = path.split("/")

    if excel_file[-1][:2] == "LB":
        df = pd.read_excel(path, header=[2])
        new = df["Specifications"].str.split(",", expand=True)[0][:2]
        df["Processor"] = str(new[0]) + "," + str(new[1])
        df["RAM"] = df["Specifications"].str.split(",", expand=True)[2]
        df["HDD"] = df["Specifications"].str.split(",", expand=True)[3]
        df["Reference"] = df["Load no."].astype(str) + " - " + df["Tracking reference"].astype(str)
        
        if donor is None:
            try:
                df["Donor"] = donor            
            except:       
                df["Donor"] = pd.read_excel(path, usecols="F", header=None, names=["Donor"]).iloc[0]["Donor"]        
        
        
    elif excel_file[-1][:2] == "CT":
        df = pd.read_excel(path)
        df["Defects"] = df["Defect 1"] + "," + df["Defect 2"] + "," + df["Defect 3"] + "," + df["Defect 4"] + "," + df["Defect 5"]
        donor_name = path.split(" ")
        del(donor_name[:3], donor_name[-2:])
        df["Donor"] = " ".join(donor_name)
        
        if donor:
            try:
                df["Donor"] = donor            
            except:       
                df["Donor"] = pd.read_excel(path, usecols="F", header=None, names=["Donor"]).iloc[0]["Donor"]
                 
    else:
        df = pd.read_excel(path, header=[18])
        df["Donor"] = pd.read_excel(path, usecols="B", header=None, names=["Donor"]).iloc[2]["Donor"]
    
    columns = list(df)
    new_df = pd.DataFrame(columns=index)
    print(list(new_df))
    
    print(df.head())
    
    for k, v in index.items():
        print("k", k)
        print("v", v)
        for i in v:
            try:
                new_df[k] = df[i]
            except:
                continue             
                
    new_df["Quantity"] = new_df["Quantity"].fillna(1)
    new_df["Type"] = new_df["Type"].fillna("PC")
            
        
    return new_df

In [ ]:
def donor_column(donor=None):
    try:
        df["Donor"] = donor            
    except:       
        df["Donor"] = pd.read_excel(path, usecols="F", header=None, names=["Donor"]).iloc[0]["Donor"]

In [80]:
dff = df_formating("./data/PlanBit/CTG - 0659 DONOR 8 ENGINERING REPORT.xlsx", "Tony")

['Quantity', 'Reference', 'Serial Number', 'Asset Tag', 'Type', 'Brand', 'Model', 'Processor', 'RAM', 'HDD', 'Display', 'Weight', 'Grade', 'Defects', 'Disk Status', 'Donor']
   Quantity     PATNumber Product Type Brand          Model  \
0         1  P22506590102      DESKTOP  DELL  OPTIPLEX 7010
1         1  P22506590103      DESKTOP  DELL  OPTIPLEX 7010
2         1  P22506590104      DESKTOP  DELL  OPTIPLEX 7010
3         1  P22506590105      DESKTOP  DELL  OPTIPLEX 7010
4         1  P22506590106      DESKTOP  DELL  OPTIPLEX 7010

  Serialnumber asset Client Asset Tag                 Processor Memory  \
0            6PXFGZ1              NaN  Core(TM) i5-3570 3.40GHz    4GB
1            HL20H5J              NaN  Core(TM) i5-3570 3.40GHz    4GB
2            2pzgwx1              NaN  Core(TM) i5-3570 3.40GHz    4GB
3            2PZGWX1              NaN  Core(TM) i5-3570 3.40GHz    4GB
4            CBX3J5J              NaN  Core(TM) i5-3570 3.40GHz    4GB

  Drive Size  ...   Battery Test GRADE-IN Defect 1  Defect 2 Defect 3  \
0      128GB  ...  not performed       A3      NaN       NaN      NaN
1      128GB  ...  not performed       A3      NaN       NaN      NaN
2      128GB  ...  not performed       A3      NaN       NaN      NaN
3      128GB  ...  not performed       A3      NaN       NaN      NaN
4      128GB  ...  not performed       A3      NaN       NaN      NaN

  Defect 4 Defect 5 Weight Defects Donor
0      NaN      NaN    6.0     NaN  Tony
1      NaN      NaN    6.0     NaN  Tony
2      NaN      NaN    6.0     NaN  Tony
3      NaN      NaN    6.0     NaN  Tony
4      NaN      NaN    6.0     NaN  Tony

[5 rows x 25 columns]
k Quantity
v ['Qty', 'Quantity']
k Reference
v ['Book No.', 'PATNumber', 'Reference']
k Serial Number
v ['Serial no.', 'Serial number', 'Serialnumber asset']
k Asset Tag
v ['Asset Tag', 'Client Asset Tag']
k Type
v ['Product type', 'Product']
k Brand
v ['Brand', 'Manufacturer']
k Model
v ['Model']
k Processor
v ['Processor']
k RAM
v ['Memory', 'RAM']
k HDD
v ['Drive Size', 'HDD']
k Display
v ['DISPLAY SIZES', 'Screen size']
k Weight
v ['Weight (KG)', 'Weight']
k Grade
v ['Grade', 'Condition Code', 'GRADE-IN']
k Defects
v ['Defects', 'Stock Comments']
k Disk Status
v ['Disk Status', 'Erasure Status']
k Donor
v ['Donor']

In [35]:
dff.isna().sum()

Quantity           0
Reference          0
Serial Number      0
Asset Tag        501
Type               0
Brand              0
Model              0
Processor          0
RAM                8
HDD               21
Display          519
Weight           519
Grade              0
Defects            6
Disk Status      519
Donor              0
dtype: int64

In [81]:
dff.head()

,Quantity,Reference,Serial Number,Asset Tag,Type,Brand,Model,Processor,RAM,HDD,Display,Weight,Grade,Defects,Disk Status,Donor
0,1,P22506590102,6PXFGZ1,NaN,PC,DELL,OPTIPLEX 7010,Core(TM) i5-3570 3.40GHz,4GB,128GB,NaN,6.0,A3,NaN,Successful,Tony
1,1,P22506590103,HL20H5J,NaN,PC,DELL,OPTIPLEX 7010,Core(TM) i5-3570 3.40GHz,4GB,128GB,NaN,6.0,A3,NaN,Successful,Tony
2,1,P22506590104,2pzgwx1,NaN,PC,DELL,OPTIPLEX 7010,Core(TM) i5-3570 3.40GHz,4GB,128GB,NaN,6.0,A3,NaN,Successful,Tony
3,1,P22506590105,2PZGWX1,NaN,PC,DELL,OPTIPLEX 7010,Core(TM) i5-3570 3.40GHz,4GB,128GB,NaN,6.0,A3,NaN,Successful,Tony
4,1,P22506590106,CBX3J5J,NaN,PC,DELL,OPTIPLEX 7010,Core(TM) i5-3570 3.40GHz,4GB,128GB,NaN,6.0,A3,NaN,Successful,Tony

In [68]:
dff[dff['Donor'].isna()]

Empty DataFrame
Columns: [Quantity, Reference, Serial Number, Asset Tag, Type, Brand, Model, Processor, RAM, HDD, Display, Weight, Grade, Defects, Disk Status, Donor]
Index: []

---

In [153]:
class Df_formating():
    
    
    def __init__(self, path, donor=None):
        
        self.path: str = path
        self.donor: str = donor
        self.excel_file = path.split("/")
        self.index: dict = {"Quantity": ["Qty", "Quantity"], 
             "Reference": ["Book No.", "PATNumber", "Reference"], 
             "Serial Number": ["Serial no.", "Serial number", "Serialnumber asset"], 
             "Asset Tag": ["Asset Tag", "Client Asset Tag"], 
             "Type": ["Product type", "Product", "Stock Type"], 
             "Brand": ["Brand", "Manufacturer"], 
             "Model": ["Model"], 
             "Processor": ["Processor"], 
             "RAM": ["Memory", "RAM"], 
             "HDD": ["Drive Size", "HDD"], 
             "Display": ["DISPLAY SIZES", "Screen size"], 
             "Weight": ["Weight (KG)", "Weight"], 
             "Grade": ["Grade", "Condition Code", "GRADE-IN"], 
             "Defects": ["Defects", "Stock Comments"],
             "Disk Status": ["Disk Status", "Erasure Status"],
             "Donor": ["Donor"]
            }
        
        if self.excel_file[-1][:2] == "LB":
            self.lb_parsing()
        elif self.excel_file[-1][:2] == "CT":
            self.ct_parsing()
        else:
            self.tes_parsing()
            
        
    def lb_parsing(self):
        
        self.df = pd.read_excel(self.path, header=[2])
        new = df["Specifications"].str.split(",", expand=True)[0][:2]
        self.df["Processor"] = str(new[0]) + "," + str(new[1])
        self.df["RAM"] = self.df["Specifications"].str.split(",", expand=True)[2]
        self.df["HDD"] = self.df["Specifications"].str.split(",", expand=True)[3]
        self.df["Reference"] = self.df["Load no."].astype(str) + " - " + self.df["Tracking reference"].astype(str)
        return self.create_df(self.df)
        
        
    def ct_parsing(self):
        
        self.df = pd.read_excel(self.path)
        self.df["Defects"] = self.df["Defect 1"] + "," + self.df["Defect 2"] + "," + self.df["Defect 3"] + "," + self.df["Defect 4"] + "," + self.df["Defect 5"]
        donor_name = self.path.split(" ")
        del(donor_name[:3], donor_name[-2:])
        self.df["Donor"] = " ".join(donor_name)
        return self.create_df(self.df)
        
        
    def tes_parsing(self):
        
        #Create a dictionary to map the types to match CO2 calculator 
        self.types = {"LT": "Laptop", "PC": "Desktop", "LD": "Monitor", "": "Others"}
        self.df = pd.read_excel(self.path, header=[18])
        self.df["Donor"] = pd.read_excel(self.path, usecols="B", header=None, names=["Donor"]).iloc[2]["Donor"]
        return self.create_df(self.df)
    
        
    def create_df(self, df):
        
        self.df = df
        print(self.df)
        self.new_df = pd.DataFrame(columns=self.index)
        for k, v in self.index.items():
            for i in v:
                try:
                    self.new_df[k] = self.df[i]
                except:
                    continue
                    
        if self.donor != None:
            self.new_df["Donor"] = self.donor
            
        self.new_df = self.new_df.replace("-", np.nan)
            
        return self.new_df

In [151]:
frame = Df_formating('./data/TES/11657.xlsx', "Tony")

        Book No. Manufacturer   Model     Processor Screen size Memory FDD  \
0    860051631-1           HP   2560P  i7-2640M 2.8        12.5   4096   -
1    860051631-2           HP   2540P  i7 L640 2.13        12.1   6144   -
2    860051631-3           HP   2560P  i5-2520M 2.5        12.5   4096   -
3    860051631-4           HP   2540P  i7 L640 2.13        12.1   6144   -
4    860051631-5           HP  820 G1            i5        12.5      -   -
..           ...          ...     ...           ...         ...    ...  ..
95  860051631-92           HP    8300   i5-3570 3.4           -   4096   -
96  860051631-93           HP    8300   i5-3570 3.4           -   4096   -
97  860051631-94           HP    8200            i5           -   4096   -
98  860051631-95            -       -             -           -      -   -
99  860051631-96            -       -             -           -      -   -

    HDD CDROM Serial number    Asset Tag Stock Type  Weight (KG)  \
0   500  NONE    CNU15009Q7  JIA-NB-S001         LT          2.0
1   160  NONE    CND129BCZD  JIA-NB-A009         LT          1.8
2   500  NONE    CNU1353GLZ  SUC-NB-S006         LT          2.0
3   250  NONE    CND1140HBT  JIA-NB-A001         LT          1.8
4     -  NONE    5CG5133RF3  JIA-NB-S008         LT          1.2
..  ...   ...           ...          ...        ...          ...
95  500  NONE    6CR3426PWT  JIA-PC-A015         PC          7.2
96  500  NONE    6CR3426PWZ  JIA-PC-A017         PC          7.2
97  500  NONE    4CV14732HR  JIA-PC-A020         PC          7.1
98    -  NONE             -            -         OT          1.6
99    -  NONE             -            -         OT          1.6

   Condition Code        Stock Comments Disk Status Parent ID of HDD (XH)  \
0             A2G                     -       WIPE                      -
1             A2G                     -       WIPE                      -
2             A2G                     -       WIPE                      -
3             A2G                     -       WIPE                      -
4             F2L  MISSING POWER SUPPLY           -                     -
..            ...                   ...         ...                   ...
95            A2G                     -       WIPE                      -
96            A2G                     -       WIPE                      -
97            A2G                     -       WIPE                      -
98            A2G                     -           -                     -
99            A2G                     -           -                     -

    Processing Fee    Donor
0             8.00  Donor 1
1             8.00  Donor 1
2             8.00  Donor 1
3             8.00  Donor 1
4             8.00  Donor 1
..             ...      ...
95            8.00  Donor 1
96            8.00  Donor 1
97            8.00  Donor 1
98            0.96  Donor 1
99            0.96  Donor 1

[100 rows x 19 columns]

In [152]:
frame.new_df.head()

,Quantity,Reference,Serial Number,Asset Tag,Type,Brand,Model,Processor,RAM,HDD,Display,Weight,Grade,Defects,Disk Status,Donor
0,NaN,860051631-1,CNU15009Q7,JIA-NB-S001,LT,HP,2560P,i7-2640M 2.8,4096,500,12.5,2.0,A2G,NaN,WIPE,Tony
1,NaN,860051631-2,CND129BCZD,JIA-NB-A009,LT,HP,2540P,i7 L640 2.13,6144,160,12.1,1.8,A2G,NaN,WIPE,Tony
2,NaN,860051631-3,CNU1353GLZ,SUC-NB-S006,LT,HP,2560P,i5-2520M 2.5,4096,500,12.5,2.0,A2G,NaN,WIPE,Tony
3,NaN,860051631-4,CND1140HBT,JIA-NB-A001,LT,HP,2540P,i7 L640 2.13,6144,250,12.1,1.8,A2G,NaN,WIPE,Tony
4,NaN,860051631-5,5CG5133RF3,JIA-NB-S008,LT,HP,820 G1,i5,NaN,NaN,12.5,1.2,F2L,MISSING POWER SUPPLY,NaN,Tony